*,
html {
	margin: 0;
	padding: 0;
}

body {
	background-image: url('./trianglify-lowres.png');
	background-size: cover;
}

.wrapper {
	max-width: 480px;
	margin: 200px auto;
	color: rgba(255, 255, 255, 0.5);
}

#form {
	border: solid 2px rgba(255, 255, 255, 0.25);
	background-color: rgba(0, 0, 0, 0.25);
	border-radius: 0.5em;
	padding: 10px;
	text-align: center;
}

button {
	border: solid 2px rgba(255, 255, 255, 0.25);
	background: transparent;
	color: rgba(255, 255, 255, 0.5);
	border-radius: 0.5em;
	margin: 10px auto;
	text-align: center;
	padding: 5px;
	transition-duration: 0.2s;
	font-weight: bold;
}


button:focus {
	outline: none;
}

button:hover {
	background-color: rgba(255, 255, 255, 0.25);
	color: rgba(255, 255, 255, 0.75)
}

#generatedItem-cont {
	margin: 25px 0px 0px 0px;
	text-align: left;
}

#generatedItem {
	border: 2px solid;
	border-radius: 0.3em;
	padding: 25px 10px;
}

#item_name {
	background: transparent;
	border: solid 2px rgba(255, 255, 255, 0.25);
	border-radius: 0.5em;
	color: rgba(255, 255, 255, 0.5);
}

.list-group-item {
	background: transparent;
	border: solid 2px rgba(255, 255, 255, 0.25);
	border-radius: 0.3em;
	color: rgba(255, 255, 255, 0.5);
	padding: 5px;
}

.testingItemColors {
	width: 100%;
	height: 10px;
	display: inline;
}

#itemThumbStuff {
	width: 100px;
	text-align: center;
	float: right;
}

#itemThumbnail {
	margin: auto;
	width: 64px;
	height: 64px;
}

#itemThumbnail img {
	border: 2px solid;
	width: 64px;
	height: 64px;
	box-shadow: 0px 0px 5px 5px;
}