*, html, body, header, footer{
    margin: 0px;
    padding: 0px;
}
body{
    background: #fdd;
}

.main-wrap{
    width: 50%;
    margin: 50px auto 0px auto;
}
.user-container{
    width: 100%;
    background: #fff;
    box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.3);
}
.user-container::after{
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
    position: relative;
    top: 0px;
    width: 100%;
    left: 0px;
    content: "";
}